body {
  /* m */
  margin: 10px;
/* p */
padding: 10px;
/* m10 */
margin: 10px;
/* m10p */
margin: 10%;
/* m10r */
margin: 10rem;
/* m10p20p */
margin: 10% 20%;

/* m10-20-30 */
margin: 10px 20px 30px;

/* mp10 */
margin-bottom: 10px;

/* fz10 */
font-size: 20px;
margin-bottom: 10px;
cursor: pointer;

font-weight: bold;
position: absolute;
position: relative;









}